WeatherApplication/Weather.dtd

<!ELEMENT weatherForecast (dailyWeather*)>
<!ELEMENT dailyWeather (highTemp, lowTemp)>
<!ATTLIST dailyWeather
   name (Sunday|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday) #REQUIRED>
<!ATTLIST dailyWeather
   forecast (Sun|Clouds|Snow|Rain|Wind) #REQUIRED>
<!ELEMENT highTemp (#PCDATA)>
<!ELEMENT lowTemp (#PCDATA)>
